---
import Image from "astro/components/Image.astro";
import Logo from "../assets/images/LogoEmpresa.png";
const { settings } = Astro.props;
---
<header class="wrapper bg-loop font-semibold">
    <div class="bs-container py-4 flex items-center justify-between">
        <a
            class="flex items-center"
            href="/"
            aria-label={settings.title + " - Home"}
        >
            <Image alt="Logo" src={Logo} height="120" width="120" />
        </a>
        <nav class="hidden md:flex items-center gap-8 mx-8">
            {
                settings.nav.map((item) => (
                    <a class="px-4 py-2 whitespace-nowrap" href={item.link}>
                        {item.title}
                    </a>
                ))
            }
        </nav>
        <a href="/login" class="flex-shrink-0">
            <button
                type="button"
                class="min-w-32 font-semibold px-6 py-3 rounded-lg 
                       border-2 border-[#143663] text-[#143663] 
                       hover:bg-[#143663] hover:text-white 
                       transition-colors duration-200"
            >
                {settings.mi_cuenta.title}
            </button>
        </a>
    </div>
</header>