---
import Image from "astro/components/Image.astro";
import Logo from "../assets/images/logo.png";

const { settings } = Astro.props;
---

<header class="wrapper bg-loop font-semibold">
    <div class="bs-container py-6 flex justify-between items-center">
        <a
            class="flex xl:min-w-32 group"
            href="/"
            aria-label={settings.title + " - Home"}
        >
            <Image alt="Logo" src={Logo} height="48" width="48" />
        </a>
        <nav class="hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">
            {
                settings.nav.map((item) => (
                    <a class="" href={item.link}>
                        {item.title}
                    </a>
                ))
            }
        </nav>
        <a href="/login">
            <button
                type="button"
                class="min-w-32
               font-semibold
               px-5
               py-4
               rounded-md
               text-bs-foreground-light
               text-center
               relative
               overflow-clip"
            >
                {settings.mi_cuenta.title}
            </button>
        </a>
    </div>
</header>
